<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="email" required
         [ngClass]="{'inputError': email!.invalid && (email!.dirty || email!.touched),
          'inputSuccess': email!.valid}">

  <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
    <div *ngIf="email!.errors?.['required']">
      email is required.
    </div>
    <div *ngIf="email!.errors?.['pattern']">
      email is not is required.
    </div>
  </div>

  <input type="password" formControlName="pass">
<button type="submit" [disabled]="loginForm.invalid">Send</button>
</form>

